body{
    background-color: #3ddc84;
    font-family: 'helvetica';
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:black;
}

p a{
    color: black;
}
.header{
    
    height: 100px;
    border-radius: 10px;
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 100px;
    text-align: center;
}
.header img{
position: absolute;
left: 60px;
top: 15px;
width: 100px;
}
ul{

    display: flex;
    flex-direction: row;
    
   
}
li{
    flex: auto;
    text-align: center;
    font-family: 'helvetica';
    font-size: 30px;
 
  
list-style-type: none;
margin: 0 5px;

/* margin: 0 10px; */
}
li:hover{
    background-color: #fff;
    border-radius: 10px;
    

}
main{
    display: flex;
    flex:  auto;
    height: 500px;
    
/* background-color: #fff; */
}
aside{
    height:inherit;
    line-height: 300px;
    flex:1;
    text-align: center;
    font-size: 100px;
    
    
    
}
section{
    display: flex;
    flex: 3;
    padding: 40px;
}

section iframe{
    flex:auto;
    width: 300px;
    height:300px;
    margin: 16px;
    border: 1px solid #fff;
    border-radius: 150px;
}
section li{
    text-align: left;
}
section li .title{
   font-weight: 600;
   font-size: larger;
}
table{
    display: flex;
    justify-content: start;
    margin-left: 80px;
    
}

 th,td {
    border: 3px inset #3ddc84;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    
}

footer{
    position: fixed;
    bottom: 10px;
}
@media screen and (max-width:450px) {
    header{

        height: 50px ;
        font-size: 50px;
        line-height: 50px;
    }
    header img {
        position: absolute;
        top:5px;
        left: 30px;
        height: 50px ;
        width: 50px ;
    }
    li{
        font-size: 20px;
    }
    aside{
        font-size: 50px;
        line-height: 200px;
        padding-left: 30px;
    }
    aside iframe {
        width: 100px;
        height: auto;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    section p{
        font-size:20px ;
    }
    section iframe{
        flex: auto;
        
        flex-wrap: wrap;
        width: 150px;
        height:150px;
        margin: 16px;
        border: 1px solid #fff;
        border-radius: 150px;
    }
   th,td{
       font-size: 20px;
   }
    footer{
        font-size: 25px;
    }
}
