*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3ddc84;
    font-family: 'helvetica';
    font-size: 30px;

   
}


a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:black;
}

p a{
    color: black;
}

.header{
    
    width: 100%;
  
    
    height: 20%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    flex-grow: 1;
    
    
}
img{
    width: 100px;
    height: 100px;
    


}
.title{
    flex-grow: 1;
  
    font-size: 100px;
    
}


ul{

    display: flex;
    flex-direction: row;
    
   
}
li{
    flex: auto;
    text-align: center;
    font-family: 'helvetica';
    font-size: 30px;
 
  
list-style-type: none;
margin: 0 5px;


}
li:hover{
    background-color: #fff;
    border-radius: 10px;
    

}
main{
    display: flex;
    flex:  auto;
    height: 500px;
    
/* background-color: #fff; */
}
aside{
    height:inherit;
    line-height: 300px;
    flex:1;
    text-align: center;
    font-size: 100px;
    
    
    
}
section{
    display: flex;
    flex: 3;
    padding: 40px;
}

section iframe{
    flex:auto;
    width: 300px;
    height:300px;
    margin: 16px;
    border: 1px solid #fff;
    border-radius: 150px;
}
section li{
    text-align: left;
}
section li .title{
   font-weight: 600;
   font-size: larger;
}
table{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    
}

 th,td {
    border: 3px inset #3ddc84;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    
}

footer{
    position: fixed;
    bottom: 10px;
}

@media screen and (max-width:600px) {


    .header{
        width: 100%;
        height: 10%;
        flex-direction: row;
        justify-items: center;
    }
    .logo{
        flex-grow: 1;
       
    }
    img{
        width: 70px;
        height: 70px;
        padding-left :50px; ;
        
    }
    .title{
        flex-grow: 1;
       
        font-size: 50px;
        
    }

    li{
        font-size: 20px;
    }
    aside{
        font-size: 50px;
        line-height: 200px;
        padding-left: 30px;
    }
    aside iframe {
        width: 100px;
        height: auto;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    section p{
        font-size:20px ;
    }
    section iframe{
        flex: auto;
        
        flex-wrap: wrap;
        width: 150px;
        height:150px;
        margin: 16px;
        border: 1px solid #fff;
        border-radius: 150px;
    }
   th,td{
       font-size: 20px;
   }
    footer{
        font-size: 25px;
    }
}